/* body styles */
body{
    margin: 0;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 30px;
}

/* header styles */
header{
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 h2{
    font-family: 'Rubik', sans-serif;
}

header h1 {
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid silver;
}

h2{
    font-size: 30px;
    color: darkturquoise;
    margin: 40px 0 10px;
}

/* main styles */
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

/* link styles */
a{
    color: darkturquoise;
}

a:hover{
    color: white;
    background-color: cadetblue;
}

/* footer styles */
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}

footer a{
    color: white;
}

footer a:hover{
    opacity: .5;
    background-color: transparent;
}

footer p{
    margin: 0;
}

/* class styles */
p.caption{
    color: lightgrey;
    font-style: italic;
    margin-top: 0;
}